{% extends "cspace_django_site/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block scripts %}
  <script type="text/javascript" src="{% static "app.bundle.js" %}"></script>
  <script type="text/javascript">
      var trackingid = '{{ UA_TRACKING_ID }}';
      // if there is a tracker id, go ahead and create a tracking object...
      if (trackingid != '') {
          xga('create', trackingid, 'auto', true);
          xga('send', 'pageview', undefined, trackingid);
      }
  </script>
  <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
  <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>

{% endblock %}

{% block content %}
    <div id="content-main">
        {% include "toggled.html" %}
        <input type="hidden" value="{{ institution }}"/>
        <div id="waitingImage" style="display: none">
            <img src="{% static "cspace_django_site/images/timer-animated.gif" %}" alt="Searching..."/>
        </div>
        <div class="searchPanel">
            {% if appname == 'listapps' %}
            <table id="resultsListing">
                {% for app in apps %}
                    {% if app.0 != 'listapps' and app.0 != 'data' %}
                        <tr>
                            <td><a class="facet-item" href="{{ app.0 }}">{{ app.1.0 }}</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            {% endif %}
        </div>
        <div id="searchForm">
        </div>
        <div id="resultsForm">
        </div>
        <div id="reviewPanel">
            <form class="reviewForm" id="review" method="POST">
                {% csrf_token %}
                {% if reviewitems %}
                    {% include "toolbox_activity_graphs.html" %}
                    {% render_table reviewitems %}
                    <hr/>
                    {{ numberofitems }} items listed.
                    {% include "toolbox_button_action.html" %}
                {% endif %}
            </form>
        </div>
    </div>
        <script type="text/javascript" src="{% static "toolbox.bundle.js" %}"></script>
{% endblock %}