[info]
logo              = https://ucjeps.cspace.berkeley.edu/collectionspace/ui/ucjeps/images/header-logo.png

[imagebrowser]
#
FIELDDEFINITIONS    = ucjepspublicparms.csv
MAXRESULTS          = 200
TITLE               = Image Browser

