[info]
logo              = https://ucjeps.cspace.berkeley.edu/collectionspace/ui/ucjeps/images/header-logo.png

[imaginator]
#
FIELDDEFINITIONS    = ucjepspublicparms.csv
MAXRESULTS          = 100
TITLE               = Imaginator
