{% extends "cspace_django_site/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block content %}
    <div id="content-main">
        <div id="tabs">
            <ul>
                <li><a href="#check">Upload Queue</a></li>
                <li><a href="#upload">Upload Files</a></li>
                <li><a href="#View">View results</a></li>
            </ul>
        <div id="upload">
            {% include 'csvimport_upload.html' %}
        </div>
        <div id="check">
            {% include 'csvimport_check.html' %}
        </div>
        <div id="view">
            {% include 'csvimport_view.html' %}
        </div>
        </div>
    </div>
{% endblock %}
