[info]
logo              = https://botgarden.cspace.berkeley.edu/collectionspace/ui/botgarden/images/header-logo.png
schemacolor1      = #660000
serverlabel       = development
serverlabelcolor  = green
institution       = botgarden
apptitle          = Move Object Range
updatetype        = moveobject
updateactionlabel = Move Selected Objects

[connect]
#connect_string    = host=localhost port=56567 dbname=botgarden_domain_botgarden user=reporter_botgarden sslmode=require password=xxxxxx
connect_string    = host=dba-postgres-dev-42.ist.berkeley.edu port=5113 dbname=botgarden_domain_botgarden user=reporter_botgarden password=xxxxxx sslmode=require

realm             = org.collectionspace.services
hostname          = botgarden-dev.cspace.berkeley.edu
protocol          = https
port              =

[files]
auditfile         = /tmp/dj.tools-test.csv
logfileprefix     = /tmp/dj.tools-dev
