[info]
logo              = https://pahma.cspace.berkeley.edu/collectionspace/ui/pahma/images/logored100.png
schemacolor1      = #660000
serverlabel       = production
serverlabelcolor  = red
institution       = pahma
apptitle          = Group Info Review
updatetype        = grpinfo
updateactionlabel = Update Group Information

[connect]
#connect_string    = host=localhost port=56566 dbname=pahma_domain_pahma user=reporter_pahma sslmode=require password=xxxxxx
connect_string    = host=dba-postgres-prod-42.ist.berkeley.edu port=5307 dbname=pahma_domain_pahma user=reporter_pahma password=xxxxxx sslmode=require

realm             = org.collectionspace.services
hostname          = pahma-dev.cspace.berkeley.edu
protocol          = https
port              =

[files]
auditfile         = /tmp/dj.tools-prod.csv
