[info]
logo              = https://botgarden.cspace.berkeley.edu/collectionspace/ui/botgarden/images/header-logo.png

[imaginator]
#
SOLRSERVER          = http://localhost:8983/solr
SOLRCORE            = botgarden-public
FIELDDEFINITIONS    = plantinfo.csv
MAXRESULTS          = 200
