{% extends "cspace_django_site/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block content %}
    <div id="content-main">
        <ol>
            <h2>
                <li>Select Files to Upload</li>
            </h2>

            <form enctype="multipart/form-data" action="{% url 'uploadtricoder:uploadfiles' %}" method="post">
                {% csrf_token %}
                {% if status == 'down' %}
                    <h2><span style="color:red">System is down, please standby!</span></h2>
                {% else %}
                    <input type="file" name="tricoderfiles" multiple>
                    <input type="checkbox" name="validateonly"> Validate content and filenames only, do not process.
                    <hr/>
                    <input type="submit" name="uploadtricoder"
                           value="Upload to CSpace and Queue for Ingestion">
                    <!-- <input type="submit" name="deletetricoder"
                                   value="DELETE CSpace Blob and Media records associated with these images">
                    -->
                    {% if tricoder_upload_files %}
                        {% include "tricoder_files.html" %}
                    {% endif %}
                {% endif %}
            </form>
            <h2>
                <li>Check on jobs and uploads</li>
            </h2>
            <form action="{% url 'uploadtricoder:showqueue' %}" method="post">
                {% csrf_token %}
                <input type="submit" name="checkpending" value="View Pending">
                <input type="submit" name="checkprocessed" value="View Processed">
                <input type="submit" name="checkfailed" value="View Problem Files">
                {% include "tricoder_pastjobs.html" %}
                {% include "tricoder_showqueue.html" %}
            </form>
        </ol>
        {% if filecontent %}
            <hr/>
            <h2>In directory {{ directory }}: {{ filename }}</h2>
            <pre>{{ filecontent }}</pre>
        {% endif %}
    </div>
{% endblock %}
