[info]
logo              = https://cinefiles.cspace.berkeley.edu/collectionspace/ui/cinefiles/images/header-logo.png
schemacolor1      = #008CCC
serverlabel       = production
serverlabelcolor  = red
institution       = cinefiles
apptitle          = Upload Media
updatetype        = uploadmedia
updateactionlabel = Upload Media

# path to batch code and config
postblobpath      = /var/www/cinefiles/uploadmedia
# name of .cfg file
batchparameters   = cinefiles_Uploadmedia_Dev.cfg

usebmuoptions     = False
bmuoptions        = []

# set the following to True to display the "override block" (in which case set creators and rightsholders too)
allowintervention = False
creators          = []
rightsholders     = []

[connect]
# password is normally configured in .pgpass, but could be configured here...
connect_string    = host=dba-postgres-prod-42.ist.berkeley.edu port=5313 dbname=cinefiles_domain_cinefiles user=reporter_cinefiles sslmode=require
# we don't need the REST API parameters here...

[files]
directory         = /tmp/image_upload_cache_cinefiles

