{% extends "cspace_django_site/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "common/css/theme.blue.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "cspace_django_site/css/smoothness/jquery-ui-1.10.3.custom.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "common/css/PublicSearch.css" %}"/>

    <link rel="stylesheet" type="text/css" href="{% static "css/fss-reset.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/fss-layout.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css//fss-text.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/cspace.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/Pager.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/NumberPatternChooser.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/Confirmation.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/Autocomplete.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/StructuredDate.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/search.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/pivot.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/authority.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/repeatable.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/datepicker.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/osteo.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui-1.7.2.custom.css" %}"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href=".{% static "css/cspace_ie.css" %}"/> <![endif]-->
{% endblock %}

{% block extrascript %}
    <script type="text/javascript" src="{% static "js/skeletonSearch.js" %}"></script>
    <!-- <script type="text/javascript" src="{% static "js/Osteology.js" %}"></script> -->
    <!-- <script type="text/javascript" src="{% static "js/pahma.js" %}"></script> -->
{% endblock %}


{% block content %}
    <div id="content-main">
        {% include "toggled.html" %}
        {% include "skeleton.html" %}
    </div>
{% endblock %}
